@import url("https://discordstyles.github.io/SoftX/SoftX.css");
@import url("https://discordstyles.github.io/SoftX/RadialGlow.css");
@import url("https://discordstyles.github.io/SoftX/VerticalUserArea.css");
@import url("https://discordstyles.github.io/Addons/windows-titlebar.css");

:root {
  --background-image: url("https://raw.githubusercontent.com/Snap-Skull/Discord-Themes/main/eeee.png");
  --background-blur: 0px;
  --opacity: 0.85;
  --accent: 0, 231, 169;
  --glow-intensity: 1;
  --font: Gotham;
  --channels-width: 300px;
  --guilds-width: 105px;
  --members-width: 280px;
  --server-size: 50px;
  --chat-avatar-size: 32px;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-phone-color: var(--rs-online-color);
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
  --rs-invisible-color: #747f8d;
}
